.about-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #fff;
}

.about-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 1620px;
    align-items: center;
}

.about-text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-text-block h1 {
    font-size: 96px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.about-text-block h5 {
    font-size: 24px;
    font-weight: normal;
    color: #000;
}

.about-text-block p {
    font-size: 24px;
    font-weight: normal;
    color: #000;
}

.about-image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.about-image-block img {
    width: 100%;
    max-width: 1000px; /* Double the size from 500px */
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 10;
    transform: scale(3)
}

.about-text-center {
    grid-column: 2 / 3;
}

/* Responsive styles */
@media (max-width: 1920px) {
    .about-grid-container {
        width: 1335px;
        gap: 30px;
    }
    
    .about-text-block h5 {
        font-size: 20px;
    }
    
    .about-text-block p {
        font-size: 20px;
    }
}

@media (max-width: 1343px) {
    .about-section-wrapper {
        padding: 50px 20px;
    }
    
    .about-grid-container {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    .about-text-center {
        grid-column: 1;
    }
    
    .about-text-block h1 {
        font-size: 80px;
        text-align: center;
    }
    
    .about-text-block h5,
    .about-text-block p {
        font-size: 18px;
        text-align: center;
    }
    
    .about-image-block img {
        max-width: 800px; /* Double from 400px */
    }
}

@media (max-width: 953px) {
    .about-section-wrapper {
        padding: 20px;
    }
    
    .about-text-block h1 {
        font-size: 66px;
    }
    
    .about-text-block h5,
    .about-text-block p {
        font-size: 20px;
        line-height: 26px;
    }
    
    .about-image-block img {
        max-width: 100%;
    }
}
.about-hero{
    width: 100%;
    display: flex;
    height: 1040px;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-image: url('../../public/assets/aboutHero.png');
    background-position: 40% 100% ;
    background-repeat: no-repeat;
    gap: 110px;
    background-size: auto;
}
@media (max-width: 2162px) {
    .about-hero{
        background-position: 40% 100% ;
    }
}
/* @media (max-width: 1660px) {
    .about-hero{
        background-position: 30% 100% ;
    }
} */

.about-resp-img{
    display: none;
}

.aboutus-text{
    width: 1620px;
    display: flex;
    justify-content: space-between;
}

.content1 h1{
    font-size: 96px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    width: 505px;
}

.content1 h5{
    font-size: 24px;
    font-weight: normal;
    color: #000;
    width: 490px;
}

.content1 p{
    font-size: 24px;
    font-weight: normal;
    color: #000;
    width: 446px;
}

.about-text1{
    /* margin-left: 120px; */
}
/* ///////////////////////expperimental///////////////////////q */
.about-text1 {
    transform: translateX(0);
}

@media (max-width: 2492px) {
    .about-text1 {
        transform: translateX(20px);
    }
}

@media (max-width: 2300px) {
    .about-text1 {
        transform: translateX(40px);
    }
}

@media (max-width: 2100px) {
    .about-text1 {
        transform: translateX(60px);
    }
}

@media (max-width: 1900px) {
    .about-text1 {
        transform: translateX(80px);
    }
}

/* @media (max-width: 1630px) {
    .about-text1 {
        transform: translateX(100px);
    }
} */
.episode-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    
}

.episode-div{
    width: 1620px;
    height: 912px;
}

.episode-content{
    display: flex;
    justify-content: space-between;
    margin-top: -44px;
    align-items: stretch;
}

.episode-box1{
    width: 690px;
    height: 702px;
    background-color: #FFF;
    border: 2px solid #000;
    box-shadow: 10px 10px 0px 0px #000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
}

.episode-box2,
.episode-box{
    /* width: 690px; */
    height: 702px;
    display: flex;
}
.episode-box1 p{
    font-size: 21px;
    line-height: 28px;
    color: #000;
    font-weight: normal;
}

.ep-box-img{
    width: 406px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.ep-box-img h2{      
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
}

.episode-date1{
    display: flex;
    justify-content: flex-end;
}

.partner-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 0;
}

.partner-section h2{
    font-size: 96px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    
}

.partner-div{
    width: 1620px;
    display: flex;
    justify-content: space-between;
    
}

.partner-box{
    width: 500px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    text-align: center;
    box-shadow: 10px 10px 0 0 #000;
    border-radius: 30px;
}

.partner-box h3{
    font-size: 64px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.partner-box p{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.c1{
    background-image: url("../assets/p1.png");
    background-repeat: no-repeat;
}

.c2{
    background-image: url("../assets/p2.png");
    background-repeat: no-repeat;
}

.c3{
    background-image: url("../assets/p3.png");
    background-repeat: no-repeat;
}

.partner-button{
    background-color: #FFBF00;
    border-radius: 10px;
    border: 2px solid #000;
    text-transform: uppercase;
    padding: 13px 22px;
    font-size: 16px;
    font-weight: bold;
    width: 440px;
    box-shadow: 5px 5px 0 0 #000;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1920px) {
    .about-hero{
        background-size: 97%;
        background-position: 40% 100%;
    }
}
@media (max-width: 1840px) {
    .about-hero{
        background-size: 95%;
        background-position: 30% 100%;
    }
}
@media (max-width: 1792px) {
    .about-hero{
        background-size: 97%;
        background-position: bottom 50px right 50px;
    }
}
@media (max-width: 1628px) {
    .about-hero{
        background-size: 97%;
        background-position: bottom 100px right 50px;
    }
    .hugs-animation{
        width: 90% !important;
    }

    .aboutus-text{
       width: 1335px;
    }

    .about-text1{
        margin-left: 74px;
        transform: translateX(0);
    }    

    .content1 h5{
        font-size: 20px;
    }
    .content1 p{
            font-size: 20px;
            width: 348px;
    }   

    .episode-div{
        width: 1335px;
    }

    .episode-content{
        gap: 20px;
    }

    .episode-box1{
        height: auto;
        padding: 38px 28px;
    }
    .episode-box1 p{
        font-size: 18px;
    }

    .partner-div{
        width: 1335px;
    }

    .partner-box{
        width: 430px;
    }

    .partner-button{
        width: 380px;
    }
}
/* @media (max-width: 1920px) {
    .about-hero{
        background-size: 97%;
        background-position: 40% 100%;
    }
    .hugs-animation{
        width: 90% !important;
    }

    .aboutus-text{
       width: 1335px;
    }

    .about-text1{
        margin-left: 74px;
    }    

    .content1 h5{
        font-size: 20px;
    }
    .content1 p{
            font-size: 20px;
            width: 348px;
    }   

    .episode-div{
        width: 1335px;
    }

    .episode-content{
        gap: 20px;
    }

    .episode-box1{
        height: auto;
        padding: 38px 28px;
    }
    .episode-box1 p{
        font-size: 18px;
    }

    .partner-div{
        width: 1335px;
    }

    .partner-box{
        width: 430px;
    }

    .partner-button{
        width: 380px;
    }

  
} */

@media (max-width: 1500px) {
    .about-hero{
        background-size: 97%;
        background-position: -14% -25%;
    }
    .hugs-animation{
        width: 90% !important;
    }

    .aboutus-text{
       width: 1335px;
    }

    .about-text1{
        margin-left: 74px;
    }    

    .content1 h5{
        font-size: 20px;
    }
    .content1 p{
            font-size: 20px;
            width: 348px;
    }   

    .episode-div{
        width: 1335px;
    }

    .episode-content{
        gap: 20px;
    }

    .episode-box1{
        height: auto;
        padding: 38px 28px;
    }
    .episode-box1 p{
        font-size: 18px;
    }

    .partner-div{
        width: 1335px;
    }

    .partner-box{
        width: 430px;
    }

    .partner-button{
        width: 380px;
    }

  
}

@media (max-width: 1200px) {
    .about-hero{
        background-size: 97%;
        background-position: -14% -25%;
    }

    .aboutus-text{
       width: 1000px;
    }

    .about-text1{
        margin-left: 74px;
    }        

    .content1 h5{        
        font-size: 18px;
    }
    .content1 p{
            font-size: 18px;
            width: 348px;
    }   

}
@media (max-width: 1080px) {
    .hugs-text{
        align-items: center !important;
    }
}

@media (max-width: 1343px) {
    .about-hero{
        background-position: bottom center;
        flex-direction: column;
        gap: 0px;
        height: 1180px;
    }
    .hugs-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0px;
        gap: 20px;
        width: 100%;
    }
    .aboutus-text{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
        gap: 20px;
        width: 100%;
    }

    .about-text1{
        margin-left: 0;
    }

    .content1 h1{
        font-size: 80px;
        width: 100%;
        text-align: center;
    }

    .content1 h5{
        margin-top: 20px;
        font-size: 18px;
        line-height: 26px;
        width: 100%;
    }
    .content1 p{
            font-size: 18px;
            width: 100%;
            text-align: center;
    }

    .episode-div {
        width: 100%;
        padding: 50px;
        height: 100%;
    }

    .episode-box1 {
        width: 99%;
    }

    .episode-content {
        flex-direction: column;
        align-items: center;
    }

    .res{
        flex-direction: column-reverse;
    }

    .episode-box2,
    .episode-box{
        flex: none;
        width: 100%;
    }

    .partner-div {
        width: 100%;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .partner-box {
        width: 500px;
    }

    .partner-section h2{
        font-size: 74px;
        line-height: 40px;
    }

}

@media (max-width: 953px) {
    .about-hero{
        background-image: none;
        padding: 20px;
        height: 100%;
    }

    .about-text1{
        display: none;
    }
    .about-resp-img{
        display: block;
    }

    .aboutus-text {
        padding: 0;
        width: 100%;
    }

    .content1.about-resp-img {
        width: 100%;
        /* height: 50vh; */
        max-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img.about-resp_img,
    img.about-resp-img {
        align-items: center;
        margin: 0 auto;
        /* width: 100%; */
        /* height: 100%; */
        object-fit: cover;
    }
    /* .content1{
        display: flex;
        justify-content: center;
    } */

    .content1 h1{
        font-size: 66px;
    }

    .content1 h5{
        font-size: 20px;
        line-height: 26px;
        text-align: left;
    }

    .content1 p{
        font-size: 20px;
        line-height: 26px;
        text-align: left;
    }

    .hugs-text{
        padding: 0px;
        flex-direction: row;
        text-align: center;
    }

    .episode-section {
        padding: 0;
        gap: 20px;
    }
    
    .episode-div{
        padding: 20px;
    }

    .episode-content{
        gap: 0;
        margin-top: -5px;
        align-items: center;
    }

    .episode-box1{
        width: 100%;
        padding: 20px 20px 340px;
        box-shadow: 5px 0px 0px 0px #000;
        border-radius: 15px 15px 0 0;
        border-bottom: 0 solid #000;
    }

    .episode-box2{
        margin-top: -269px;
    }

    .ep-box-img {
        width: 100%;
    }

    .ep-box-img h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .episode-box1 p {
        font-size: 16px;
        line-height: 20px;
    }
    
    .partner-section {
        padding: 40px 20px;
        gap: 40px;
    }

    .partner-div {
        padding: 0;
    }

    .partner-section h2 {
        font-size: 36px;
    }

    .partner-box {
        width: 100%;
    }

    .partner-cta{
        width: 100%;
    }

    .partner-button {
        width: 100%;
    }

    .episode-box2,
    .episode-box {
        height: 50vh;
        max-height: 50vh;
    }

    .episode-box2 .slider,
    .episode-box .slider {
        height: 100%;
    }

    .episode-box2 .slider-image,
    .episode-box .slider-image {
        height: 100%;
        object-fit: cover;
    }
}